
/*MKB*/
:root{
	font-size: 16px;

	--white: #ffffff;

	--black: #0f110c;

	--whiteTrans: rgba(255, 255, 255, 0.65);

	--whiteSuperTrans: rgba(255, 255, 255, 0.2);

	--richPurple: #160F29;

	--orange: #ff9800;

	
}
@media all and (max-width: 400px) {
	:root{
		font-size: 12px;
	}

}

*{
	letter-spacing: 1;
	line-height: 2;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Hind', sans-serif;
	color: white;
	}
html{
	background: ;
}


/* BANNER OPEN */
#banner{
	
	height: 100%;
	display: grid;
	grid-gap: 2rem;
	justify-items: center;
	align-items: center;
	overflow: hidden;

	background: linear-gradient(to bottom left, var(--black), var(--black)); 
	
	
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 calc(100% - 5vw)
	  );

	 

}

#banner h1, #banner h2{
	z-index: 1;
	text-align: right;
	padding: 2rem 1rem 1rem 1rem;
}

@media all and (max-width: 1100px){
		#banner div{
		width: 100%;
	}
}

@media all and (min-width: 1100px) {
	#banner div h1 br{
		display: none;
	}
}

#banner h1{
	color: var(--white);
	font-size: calc(1em + 2vw);
	font-weight: 400;
	line-height: 1;

	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 6'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift /*SPEED*/.5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='1' class='squiggle' d='M0,4 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	
	background-position: 0 100%;
	background-size: auto 15px;
	background-repeat: repeat-x;


}

#banner h1::before{
	z-index: -1;
	
	content: '';
	background-image: url("images/mikey_purp.png") ;
	background-position: 0 55%;
	background-repeat: no-repeat;
	background-size: 45vh;
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	bottom: 0vh;

	transform: translateX(-100%);
	transition: transform .3s;
	transition-timing-function: ease-in-out;
}


  
#banner h1:hover::before {
	transform: translateX(0px);
}

#banner h2{
	font-size:  3rem;
	display: none;
}


